<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css"
            rel="stylesheet"
    />
    <title>Booking Visit App by Dawid Olczak</title>
</head>
<body>
{{{body}}}
<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
</body>

</html>



<div class="container">
    <h2> Places list</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
        </tr>
        </thead>
        <tbody>
        {{#each placesList}}
            <tr>
                <th scope="row">{{number}}</th>
                <td>{{this.name}}</td>
                <td>{{this.address}}</td>
            </tr>
        {{/each}}

        </tbody>
    </table>
</div>